:root{
--goud: #A79976;
--hovergoud: #8e7c4e;
}

/* kleur van selctie */
::selection {
    background: var(--goud);
    color: white;
}


/* scrollbar css */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  
}


::-webkit-scrollbar-track {
  background: transparent; 
  
}
 

::-webkit-scrollbar-thumb {
  background: var(--goud);
  border-radius:500px;
}


::-webkit-scrollbar-thumb:hover {
  background: var(--hovergoud); 
}

html,body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-y: visible;
    min-height: 100vh;
}

.glass-blur{
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.home{
    height: 78vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-content{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  color: rgb(14, 13, 13);
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.home-content .btn{
    padding: 10px 20px;
    color: white;
    border: 2px solid var(--goud);
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--goud);
}
.home-content .btn:hover {
  background-color: var(--hovergoud);
  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.home-content a {
  color: #A79976;
  text-decoration: none;
}

.bg {
  background-image: url("images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}
nav {
    height: 85px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    border-bottom: 2px solid var(--goud);
    box-sizing: border-box; 
}

.logo {
    color:var(--goud); 
    height: auto;
    font-size: 5.4rem;
    font-weight: bold;
    font-family: "WindSong", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding-right: 3rem;
    width: 100%;
    box-sizing: border-box;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
}

.nav-links a:hover {

    color:var(--goud) ;
    border-radius: 5px;
}

.nav-links.show {
    display: flex;
    max-height: 300px;
    overflow-y: auto; 
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: var(--goud);
    margin: 4px 0;
    transition: 0.4s;
}

  footer {
    background-color: black;
    color: white;
    padding: 50px;
    height: auto;

    bottom: 0;
    left: 0;
    z-index: 10;
  }
  

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    height: auto;
    margin: 0 auto;
  }
  

  .footer-section {
    flex: 1;
    padding: 10px;
    margin: 0 10px;
  }
  

  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  

  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  

  .footer-section ul li a:hover {
    color:var(--goud);
  }
  

  .footer-section ul li a i {
    margin-right: 10px;
    font-size: 20px;
  }
  

  footer input[type="email"] {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  footer button {
    padding: 10px;
    background-color: var(--goud);
    border: none;
    color: white;
    cursor: pointer;
  }
  
  footer button:hover {
    background-color: var(--goud);
  }
  
  .google-map iframe {
    width: 100%;
    height: 200px;
    border: none;
  }
  
  /* Contactpagina */
  
  .main-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50%;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .contact-container h1 {
    margin-bottom: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .tekst-contact p strong{
    color: #A79976;
  }

  .google-maps-contact {
    background-color: #A79976;
    border-radius: 10px;
    width: 50%;
    height: 50vh;
  }
  

  .cont-form {
    background-color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .cont-form input{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  .cont-form textarea{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  .cont-form button{
    padding: 10px;
    background-color: #A79976;
    border: none;
    color: white;
    cursor: pointer;
  }
  .cont-form button:hover{
    background-color: #cfbe93;
  }
  iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
  }

  .openingstijden{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .openingstijden a{
    color: #A79976;
  }
  .footer-section form {
    min-height: unset;
  }


  /* about */

 .about{
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
 .about .tekst-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

 }
 .about h1{
  color: #A79976;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20%;
 }
  
  
  



@media screen and (max-width: 768px) {


    .hamburger {
        display: flex;
    }
    
    

  footer {
    background-color: black;
    color: white;
    padding: 20px;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    min-width: 200px;
  }
  .footer-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: unset;
  }
  

  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  

  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  

  .footer-section ul li a:hover {
    color:var(--goud);
  }
  

  .footer-section ul li a i {
    margin-right: 10px;
    font-size: 20px;
  }
  

  footer input[type="email"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  footer button {
    padding: 10px;
    background-color: var(--goud);
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  
  footer button:hover {
    background-color: var(--goud);
  }
  
  .google-map iframe {
    width: 80%;
    height: 200px;
    border-radius: 20px;

  }
  
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 85px;
        left: 0;
        max-height: 0; 
        overflow-y: hidden;
        background-color: white; 
        transition: max-height 0.5s ease-in-out;
        z-index: 10;
        padding: 0;
        padding-top: 15px; 

    .nav-links.show {
        display: flex;
        max-height: 300px; 
        overflow-y: auto;
    }

    .hamburger {
        display: flex;
    }
}

}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.gold {
    color: var(--goud);
}
.background-gold {
    background-color: var(--goud);
}
.column {
    flex-direction: column;
}
.no-min-height {
    min-height: unset;
}