:root{
--goud: #A79976;
}
::selection {
    background: var(--goud);
    color: white;
}

html,body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: visible;
    min-height: 100vh;
}


header {
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    
}

nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 9999999;
    border-bottom: 2px solid var(--goud);
}

.logo {
    color:var(--goud); 
    height: auto;
    font-size: 5.4rem;
    font-weight: bold;
    font-family: "WindSong", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 10%;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    transition: color 0.3s, background-color 0.3s;
}

.nav-links a:hover {

    color:var(--goud) ;
    border-radius: 5px;
}


.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.hamburger .line {
    background-color: black;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

.hamburger .line-top {
    transform-origin: top left;
}

.hamburger .line-middle {
    opacity: 1;
}

.hamburger .line-bottom {
    transform-origin: bottom left;
}

.hamburger.active .line-top {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line-middle {
    opacity: 0;
}

.hamburger.active .line-bottom {
    transform: rotate(-45deg) translate(5px, -5px);
}

  footer {
    background-color: black;
    color: white;
    padding: 50px;
    width: 100%;
    height: auto;

    bottom: 0;
    left: 0;
    z-index: 10;
  }
  

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
  }
  

  .footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
  }
  

  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  

  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  

  .footer-section ul li a:hover {
    color:var(--goud);
  }
  

  .footer-section ul li a i {
    margin-right: 10px;
    font-size: 20px;
  }
  

  footer input[type="email"] {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  footer button {
    padding: 10px;
    background-color: var(--goud);
    border: none;
    color: white;
    cursor: pointer;
  }
  
  footer button:hover {
    background-color: var(--goud);
  }
  
  .google-map iframe {
    width: 100%;
    height: 200px;
    border: none;
  }







  /* Contactpagina */
  .main-contact{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
  }

  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .contact-container h1 {
    margin-bottom: 20px;
    font-size: 30px;
    cursor: pointer;
  }

  .tekst-contact p strong{
    color: #A79976;
  }

  .google-maps-contact {
    background-color: #A79976;
    border-radius: 10px;
 
    
    
  }
  iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
  }
  
  



@media screen and (max-width: 768px) {

    .hamburger {
        display: flex;
    }
    
    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: black;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
    }

    .nav-links.active {
        height: 300px; 
    }

    .nav-links li {
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeIn 0.5s forwards ease-in-out;
    }

    .nav-links li:nth-child(1) {
        animation-delay: 0.2s;
    }

    .nav-links li:nth-child(2) {
        animation-delay: 0.3s;
    }

    .nav-links li:nth-child(3) {
        animation-delay: 0.4s;
    }

    .nav-links li:nth-child(4) {
        animation-delay: 0.5s;
    }

    .nav-links li:nth-child(5) {
        animation-delay: 0.6s;
    }

    .nav-links li:nth-child(6) {
        animation-delay: 0.7s;
    }

    .nav-links a{
        color: white;
    }

  footer {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  

  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: auto;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
  }
  

  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  

  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  

  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  

  .footer-section ul li a:hover {
    color:var(--goud);
  }
  

  .footer-section ul li a i {
    margin-right: 10px;
    font-size: 20px;
  }
  

  footer input[type="email"] {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  footer button {
    padding: 10px;
    background-color: var(--goud);
    border: none;
    color: white;
    cursor: pointer;
  }
  
  footer button:hover {
    background-color: var(--goud);
  }
  
  .google-map iframe {
    width: 100%;
    height: 200px;
    border-radius: 20px;

  }
  
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.gold {
    color: var(--goud);
}
.background-gold {
    background-color: var(--goud);
}